
<link rel="icon" href="https://raw.githubusercontent.com/xushiv12/12.xushiv12.github.io/refs/heads/main/docs/%E5%B1%8F%E5%B9%95%E6%88%AA%E5%9B%BE%202025-06-05%20191503.png">
<title>徐房</title>
<h1>虚拟域名注册-徐房</h1>
<p>徐房是什么？<a href="javascript:;" onclick='document.getElementById("a").style.display="block";'>点击此处了解。</a></p><br>
<form action="/" method="post">
	在此输入您的域名:<input name="x1"><br>
    <input name="x2" placeholder="在此输入您的html代码"><br>
	<input type="submit" value="注册"><br>
</form>
<p style="display:none" id="a">徐房是用来注册域名的,它可以注册虚拟域名,甚至是裸域名，比如https://r/,只不过他只有在特殊情况下才能被访问,可是他也能使你的网站发布。</p>
<button onclick='alert("v1.0.0")'>版本</button>
